
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body,
  html {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
  }
  
  body {
    background-color: #ffc7f9;
    background-size: cover;
    background-position: center;
  
  }
  
  header {
    background-color: #ffc7f9;
    display: flex;
    justify-content: center;
    padding: 16px;
  
  }
  
  main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  .container {
    background: #7c0160(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 #ffc7f9(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid #ffc7f9(255, 255, 255, 0.18);
    width: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin-top: 10px;
  }
  
  .caixa {
    border: 2px solid #7c0160;
  }
  
  .escolha {
    display: flex;
    justify-content: center;
  }
  
  .escolha select {
    background-color: #ffc7f9;
    border-radius: 16px;
    padding: 4px 8px;
    border: 2px solid #ffc7f9;
  
  }
  
  
  .textopassos {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .selecionapassos {
    display: flex;
    justify-content: center;
  }
  
  .codedecode {
    display: flex;
    justify-content: center;
    margin: 10px;
    gap: 10px;
  }
  
  .criptografar {
    display: flex;
    justify-content: center;
    margin: 10px;
  }
  
  .criptografar button {
    background-color: #ffc7f9;
    border-radius: 16px;
    padding: 4px 8px;
    border: 2px solid #7c0160;
  }
  
  .caixa {
    border-radius: 16px;
    padding: 16px;
    margin: 16px;
    cursor: pointer;
    text-decoration: none;
  }
  
  #steps {
    display: flex;
    flex-direction: column;
  }
  
  .linkimg {
    width: 2em;
  
  }
  
  footer {
    background-color: #7c0160;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3em;
    padding-top: 10px;
  }

  .rodape h3{
    font-size: 30px;
  }

  .icons ion-icons{
    width: 30px;
    height: 30px;
    color: #7c0160;
  }

  .icons ion-icon:hover{
    color:#7c0160;
  }

.cabecalho{
  text-align: center;
  background-color: #7c0160;
  height: 60px;
}

